<div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
	<ul class="vertical menu" data-accordion-menu>
		<li><a href="#">ABOUT</a>
			<ul class="menu vertical nested">
				<li><a href="#">News</a></li>
				<li><a href="#">Organisation</a></li>
			</ul>
		</li>
		<li><a href="#">SERVICES</a>
			<ul class="menu vertical nested">
				<li><a href="#">Retail</a></li>
				<li><a href="#">Commercial</a></li>
				<li><a href="#">Industrial</a></li>
			</ul>
		</li>
		<li><a href="#">PORTFOLIO</a>
			<ul class="menu vertical nested">
				<li><a href="#">Projects</a></li>
				<li><a href="#">Gallery</a></li>
			</ul>
		</li>
	</ul>
	<ul class="vertical menu">
		<li><a href="#">Contact</a></li>
		<li><a href="#">Support</a></li>
		<li><a href="#">Terms & Conditions</a></li>
		<li><a href="#">Careers</a></li>
	</ul>
	<ul class="menu simple social-links">
		<li><a href="https://youtube.com/jsgmcsltd" target="blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
		<li><a href="https://facebook.com/jsgmcsltd" target="blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/jsgmcsltd" target="blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
	</ul>
</div>

<div class="off-canvas-content" data-off-canvas-content>
	<nav class="top-bar topbar-responsive">
		<div class="top-bar-title">
	<span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
	<button class="menu-icon" type="button" data-toggle><i class="fa fa-menu"></i></button>
	</span>
			<a class="topbar-responsive-logo" href="#"><strong>JSG MSC Ltd</strong></a>
		</div>
		<div id="topbar-responsive" class="topbar-responsive-links">
			<div class="top-bar-right">
				<ul class="menu simple vertical medium-horizontal">
					<li>
						<button class="offcanvas-trigger hollow" type="button" data-open="offCanvasRight">
							<span class="offcanvas-trigger-text">Menu <i class="fa fa-menu"></i></span>
							<div class="hamburger">
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
							</div>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
